    .ca__title {  
    font-size: 3rem; 
    color:white;
    -webkit-text-stroke: 2px black;}

    .ca__subtitle { 
    font-size: 1.8rem;
    color:white ;}

    .bg__footer {
        background-color: #E0BBE4 ;  
    }
    
    .footer__logo {
        height: 8rem;
    }
    
    .footer__slogan {  
        color: blueviolet;
    }
        
    .footer__item {
        height: 35px;
    }


    /*---ABOUT US---*/
    .au__text {
        text-align: justify;
    }

    .au__div {
        background: rgb(252, 232, 255);
        margin: 1rem;
        padding: 1rem;
        outline-style: solid;
        outline-width: 1px;
        outline-color: black;
        box-shadow: -10px 10px rgb(153, 153, 155);
    }

    /*---FORM---*/ 

    .form__bg {
        background-color: rgb(252, 232, 255);
        margin: 1rem;
        padding: 1rem; }

    /*---MOBILE---*/

    @media (max-width:760px) {

        .bg__footer { text-align: center; }
        
    }