

.form__bg {
    background-color: rgb(252, 232, 255);
    margin: 1rem;
    padding: 1rem; }

.btn {
    &__send {
        background-color: rgb(231, 156, 231);

    }

    &__delete{ background-color: rgb(222, 167, 253);

    }
}

.btn__form {

}

