

.form {
    &__bg {
    background-color: rgb(252, 232, 255);
    margin: 1rem;
    padding: 1rem; }

    &__font {
    font-family: $subtitle;    
    }

    &__fonttitle {
        font-family: $subtitle;
        font-weight: bold;
        font-size: 1.5rem;
    }
    }


.btn {
    font-family: $subtitle;
    font-weight: bold
}

    .btn__send {
        @extend .btn;
        background-color: rgb(231, 156, 231);
    }

    .btn__delete{
        @extend .btn; 
        background-color: rgb(222, 167, 253);
    }




