.grid__board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}



.box__img {
    height: 12rem;
}

.hero {
    &__title {
        font-family: $title;
        font-size: 4rem;
        color: $col__violet;
        font-weight: bold;
        text-align: start;
    }

    &__subt {
        font-family: $subtitle;
        font-weight: bold;
        font-size: 2rem;
        text-align: start;
    }
}

.btn__index {
    text-decoration: none;
    padding: 12px;
    font-size: 2rem;
    color: #ffffff;
    background-color: $col__violet;
    border-radius: 6px;
    border: 2px solid $col__violet;
}

.btn__index:hover {
    color: $col__violet;
    background-color: #ffffff;
}

.gp {
    &__1 {
        grid-area: topl;
        height: 10rem;

    }

    &__2 {
        grid-area: topr;
        height: 10rem;
    }

    &__3 {
        grid-area: bot;
        height: 10rem;
    }

    &__grilla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "topl topr 
bot bot";

    }
}

/*--MOBILE--*/
@media (max-width:325px) {

    .box__img {
        height: 6.2rem;
    }

    .hero__title {
        text-align: center;
        font-size: 3rem;
    }

    .map__index {
        height: 250px;
        width: 250px;
        margin-left: 2rem;
    }

}

@media (max-width:375px) and (min-width:330px) {

    .box__img {
        height: 7.3rem;
    }

    .hero {
        &__title {
            text-align: center;
            font-size: 3rem;
            margin-top: 1rem;
        }

        &__subt {
            text-align: center;
        }
    }

    .map__index {
        height: 300px;
        width: 300px;
        margin-left: 2rem;
    }

    .gp__grilla {
        display: inline-block;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:425px) and (min-width:380px) {

    .box__img {
        height: 8.4rem;
    }

    .map__index {
        height: 300px;
        width: 350px;
        margin-left: 2rem;
    }

    .hero {
        &__title {
            text-align: center;
            font-size: 3rem;
            margin-top: 1rem;
        }

        &__subt {
            text-align: center;
        }
    }

    .gp__grilla {
        display: inline-block;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:780px) and (min-width:760px) {

    .box__img {
        height: 14.5rem;
    }

    .hero {
        &__title {
            text-align: center;
            font-size: 4rem;
            margin-top: 1rem;
        }

        &__subt {
            text-align: center;
        }
    }

    .map__index {
        height: 300px;
        width: 300px;
        margin-left: 1rem;
    }
}

@media (max-width:1430px) and (min-width:790px) {

    .map__index {
        height: 250px;
        width: 400px;
        margin-left: 1rem;
    }

}

@media (min-width:1440px) {

    .box__img {
        height: 17rem;
    }

    .hero {
        &__title {
            font-size: 6rem;
        }

        &__subt {
            text-align: center;
        }
    }

    .map__index {
        height: 300px;
        width: 600px;
        margin-left: 1rem;
    }
}