
$colors: (
    primario:violet,
    secundario:purple,
    terceario:brown,
    cuaternario:blueviolet
);

@each $bgcolor in $colors {
    

    .navbar__bg {
        background-color: map-get( $colors, secundario );
    }
    
    .footer__bg {
        background-color: map-get( $colors , cuaternario);
    }

    .footer__slogan {
        color: white;
    }
}