.ca__title {
    font-size: 1.5rem;
    font-family: $title;
    font-weight: bold;
}

.ca__subtitle {
    font-size: 1rem;
    font-family: $title;
    font-weight: bold;
}

.btn__col {
    color: $col__violet;
    font-family: $title;
    font-weight: bold;
}