.navbar__bg {
  background-color: purple;
}

.nav__font {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.pg__title {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.footer__font {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.footer__bg {
  background-color: purple;
}

.footer__logo {
  height: 8rem;
}

.footer__slogan {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
}

.footer__item {
  height: 35px;
}

/*---MOBILE---*/
@media (max-width: 425px) {
  .footer__logo {
    height: 6rem;
  }
  .footer__slogan {
    text-align: center;
  }
  .footer__bg {
    text-align: center;
  }
}

/*---TABLET---*/
@media (max-width: 1024px) and (min-width: 760px) {
  .footer__slogan {
    text-align: center;
  }
  .footer__bg {
    text-align: center;
  }
}

.grid__board {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.box__img {
  height: 12rem;
}

.hero__title {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  color: purple;
  font-weight: bold;
  text-align: start;
}

.hero__subt {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: start;
}

.btn__index {
  text-decoration: none;
  padding: 12px;
  font-size: 2rem;
  color: #ffffff;
  background-color: purple;
  border-radius: 6px;
  border: 2px solid purple;
}

.btn__index:hover {
  color: purple;
  background-color: #ffffff;
}

.gp__1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: topl;
  height: 10rem;
}

.gp__2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: topr;
  height: 10rem;
}

.gp__3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: bot;
  height: 10rem;
}

.gp__grilla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "topl topr  bot bot";
}

/*--MOBILE--*/
@media (max-width: 325px) {
  .box__img {
    height: 6.2rem;
  }
  .hero__title {
    text-align: center;
    font-size: 3rem;
  }
  .map__index {
    height: 250px;
    width: 250px;
    margin-left: 2rem;
  }
}

@media (max-width: 375px) and (min-width: 330px) {
  .box__img {
    height: 7.3rem;
  }
  .hero__title {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
  }
  .hero__subt {
    text-align: center;
  }
  .map__index {
    height: 300px;
    width: 300px;
    margin-left: 2rem;
  }
  .gp__grilla {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 425px) and (min-width: 380px) {
  .box__img {
    height: 8.4rem;
  }
  .map__index {
    height: 300px;
    width: 350px;
    margin-left: 2rem;
  }
  .hero__title {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
  }
  .hero__subt {
    text-align: center;
  }
  .gp__grilla {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 780px) and (min-width: 760px) {
  .box__img {
    height: 14.5rem;
  }
  .hero__title {
    text-align: center;
    font-size: 4rem;
    margin-top: 1rem;
  }
  .hero__subt {
    text-align: center;
  }
  .map__index {
    height: 300px;
    width: 300px;
    margin-left: 1rem;
  }
}

@media (max-width: 1430px) and (min-width: 790px) {
  .map__index {
    height: 250px;
    width: 400px;
    margin-left: 1rem;
  }
}

@media (min-width: 1440px) {
  .box__img {
    height: 17rem;
  }
  .hero__title {
    font-size: 6rem;
  }
  .hero__subt {
    text-align: center;
  }
  .map__index {
    height: 300px;
    width: 600px;
    margin-left: 1rem;
  }
}

.au__text {
  text-align: justify;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
}

.au__div {
  background: #fce8ff;
  margin: 1rem;
  padding: 1rem;
}

/*--MOBILE--*/
@media (max-width: 425px) {
  .au__text {
    text-align: center;
  }
}

.form__bg {
  background-color: #fce8ff;
  margin: 1rem;
  padding: 1rem;
}

.form__font {
  font-family: "Roboto Condensed", sans-serif;
}

.form__fonttitle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.btn, .btn__send, .btn__delete {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.btn__send {
  background-color: #e79ce7;
}

.btn__delete {
  background-color: #dea7fd;
}

.gal__text {
  font-family: "Raleway", sans-serif;
  text-align: justify;
  background: #fce8ff;
  padding: 1rem;
}

.gal__social {
  color: purple;
  font-weight: bold;
}

.gif__wdth {
  width: 100%;
}

/*-MOBILE-*/
@media (max-width: 425px) {
  .gal__text {
    text-align: center;
  }
  .gif__wdth {
    width: 80%;
  }
  .gif__container {
    text-align: center;
  }
}

/*-TABLET-*/
@media (max-width: 1024px) and (min-width: 760px) {
  .gif__wdth {
    width: 90%;
  }
}

.ca__title {
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.ca__subtitle {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.btn__col {
  color: purple;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
/*# sourceMappingURL=master.css.map */